<!-- 
Login page for testing OAuth
-->

<html>
  <head>
    <title>testing OAuth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      div { margin: 12px 0px 12px 0px; }
    </style>
  </head>
  <body>

    <h1>Login</h1>

    <div>
      This is a login page for testing OAuth.\nYou are redirected to this link: <a href="<%= redirectURISuccess %>">Complete Account Link</a>
    </div>
    <div>
      Redirect URI: <%= redirectURI %> 
    </div>
    <div>
      Redirect URI Successful: <%= redirectURISuccess %> 
    </div>
  </body>
</html>